@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin-left: 2%;
    margin-top: 50px;
    margin-bottom: -15px;
}


.aboutContent{
    display: flex;
    margin-bottom: 20px;
    margin-left: 8px;
}

.containerObject{
    background-color: #ECECEC;
    width: 595px;
    height: 428px;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.06);
    margin-left: 2.5%; 
}

.containerCardTitle{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin-top: 15px;
    margin-left: 20px;
}

.containerContentTitle{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
}
.containerContentTitle img {
    margin-right: 10px;
}


.containerContentTitle p{
    margin: 0;
    margin-top: 3px;
}
.containerContent{
    margin-left: 108px;
    margin-bottom: 20px;
}
.containerContent p{  
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 3px;
    text-align: justify;
    width: 90%;
}

.dark-mode .aboutContainer{
    color: white;
}

.dark-mode .containerObject{
    background-color: rgba(0, 0, 0, 0.50);
    width: 595px;
    height: 428px;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 5px rgba(255, 255, 255, 0.06);
    margin-left: 2.5%; 
}
