@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.skillTitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin-left: 2%;
    margin-top: 50px;
    margin-bottom: -15px;
}


.skillContent{
    margin: 0;
    margin-bottom: 20px;
    margin-left: 2.1%;
}

.skillObject{
    background-color: #ECECEC;
    width: 1224px;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.06);
    margin-left: 13px;
    padding-top: 4px;
    margin-bottom: 30px;
    
}

.skillCardTitle{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 8px;
}


.skillCard{
    width: 148px;
    height: 148px;
    border-radius: 20%;
    text-align: center;
    background-color: rgba(var(--card-color), 0.2); 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 21.5px;
    margin-bottom: 20px;
    flex-direction: column;
}

.skillCard p{
    margin: 0;
    margin-top: 18px;
}
.skillCard img{
    margin:-10px;
    margin-top: 24px;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.skillContain{
    margin-left: 10px;
}

.dark-mode .skillContainer{
    color: white;
}

.dark-mode .skillObject{
    background-color: rgba(0, 0, 0, 0.50);
    
    width: 1224px;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 5px rgba(255, 255, 255, 0.06);
    margin-left: 13px;
    padding-top: 4px;
    margin-bottom: 30px;
}

.dark-mode .skillCard{
    background-color: rgba(var(--card-color), 0.5); 
    box-shadow: 0px 0px 4px 5px rgba(var(--card-color), 0.20);
}

