@font-face {
    font-family: 'Montaga';
    src: url("../assets/fonts/Montaga-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}


.bodyContainer{
    display: flex;
    margin-left: 130px;
    margin-top: 24vh;
    padding-bottom: 10%;
}

.imgClass img{
    border-radius: 50%;
}

.Links{
    display: flex;
}

.bodyObject{
    width: 642px;
    margin-left: 80px;
    margin-top: 10px;
}


.helloObject{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
}

.nameObject{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 48px;
    color:#3C4657;
    margin: 0;
    margin-top: 10px;
}
.typeObject{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 25px;
}
.personalInfoObject{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    margin: 0;
}

.connectObject{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-top: 20px;
}
.Links{

    margin-top: 10px;

}

.Links img{
    margin:0;
    margin-left: 20px;
    margin-top: 22px;
}

.dark-mode .bodyContainer{
    color: white;
}

.dark-mode .nameObject{
    color: #FFFDD0;
}